.customLabel {
    color: #fff;
    font-size: 26px;
}

.input {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.customSubmit {
    margin: 0 auto;
    display: block;
    margin-top: 6%;
}