.Vagrant {
    height: 85vh;
    background: #000;
}
.Vagrant button {
    width: 120px;
}
.console {
    background: #000;
    overflow-y: scroll;
    clear: both;
    height: 67vh;
}

.console p {
    color: #fff;
}